{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "386582416965.dkr.ecr.us-east-2.amazonaws.com/lotery:#DEPLOY_VERSION",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ],
  "Volumes": []
}
