<% if dismissible.to_b %>
  <% alert_class = "#{alert_type} alert-dismissible fade show" %>

<% else %>
  <% alert_class = "#{alert_type}" %>

<% end %>

<% if timeout.to_b %>
  <% alert_class = "#{alert_class} alert-timeout" %>
<% end %>

<% alert_class = "#{alert_class} text-justify" %>

<% unless content.nil? || content.empty? %>
  <div class="<%= alert_class %>">
    <% unless title.nil? || title.empty? %>
      <strong><%= title %></strong> <%= content.html_safe %>

    <% else %>
      <%= content %>
    <% end %>

    <% if dismissible.to_b %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <% end %>
  </div>
<% end %>
