<div class="box <%= box_type %> collapsed-box">
  <div class="box-header with-border">
    <label><strong><%= box_title %></strong></label>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-box-tool" data-widget="remove">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <div class="box-body">
    <%= box_content %>
  </div>
</div>
