<div class="box <%= collapsed_box_type %> collapsed-box">
  <div class="box-header collapsed-box with-border">
    <label><%= collapsed_box_title %></label>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-box-tool" data-widget="remove">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <div class="box-body collapsed-box">
    <%= collapsed_box_content %>
  </div>
</div>
