<div id="loading" class="loading">
  <div class="row">
    <div class="col-md-12">
      <p><%= loading_title %></p>
      <i class="fas fa-compass fa-pulse fa-3x fa-fw"></i>
    </div>
  </div>
</div>
