<div class="text-center mt-5">
  <%= image_tag("icon/icon-warning.svg", width: "250") %>

  <div class="text-no-content-wrapper m-4">
    <h2>Nenhum resultado encontrado para <b><%= filter_message %></b></h2>

    <p>Talvez você tenha sido muito específico, por favor tente novamente com outros termos</p>
  </div>
</div>
