<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="letter text-justify mr-4 mt-3">
      <div class="row">
        <div class="col-3 col-lg-3 col-md-1 col-sm-3"></div>

        <div class="col-12 col-lg-6 col-md-9 col-sm-12">
          <h1>Políticas de Privacidade</h1>
          <h3 class="mt-5 color">POLÍTICA DE PRIVACIDADE FFMCYTECH</h3>
        </div>

        <div class="col-12 col-lg-3 col-md-2 col-sm-12">
          <%= image_tag("logo/logo.png", class: "image col-12 col-sm-12 col-md-12 col-lg-8") %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </div>

      <div class="container mt-4">
        <h3 class="color font_size"><u>INTRODUÇÃO:</u></h3>

        <p class="font_size_letter">Sua privacidade é algo importante para nós!!</p>

        <p class="font_size_letter">
          Esta política de privacidade explica os processos de dados e informações pessoais da <b>FFMCYTECH</b>,
          como a <b>FFMCYTECH</b> os processa e para que fins. Temos uma equipe de privacidade dedicada e
          comprometida em proteger todas as informações e dados pessoais que coletamos e ajudar a
          garantir que os mesmos sejam tratados corretamente.
        </p>

        <p class="font_size_letter">
          Todos os dados e informações coletados serão usados para tornar sua experiência
          em nosso site a mais produtiva e agradável possível.
        </p>

        <p class="font_size_letter">
          Esta Política é regida pelas leis brasileiras e deve ser interpretada no idioma português,
          sendo eleito o Foro Central da Comarca de São Paulo para dirimir qualquer litígio,
          questão ou dúvida que dela advenha.
        </p>

        <p class="font_size_letter">
          Ao usar nosso site, pressupomos que você compreendeu e aceitou os termos da
          <b>Política de Privacidade FFMCYTECH.</b>
        </p>

        <p class="color font_size">
          <u>DADOS E INFORMAÇÕES QUE COLETAMOS E COMO O FAZEMOS:-</u>
        </p>

        <p class="font_size_letter">
          A <b>FFMCYTECH</b> obtém dados e informações dos usuários quando passam a utilizar o site;
          quando interagem com as diversas ferramentas disponibilizadas pelo site; pelo cadastro;
          e em contato com os canais de comunicação disponíveis no site.
        </p>

        <p class="font_size_letter">
          Os dados e informações que coletamos podem incluir o seu nome, e-mail, número de
          telefone e/ou celular, endereço, data de nascimento e outros.
        </p>

        <p class="font_size_letter">
          <b>Cookies:</b> o site poderá fazer o uso de cookies, cabendo ao Usuário configurar o seu
          navegador de Internet, caso deseje bloqueá-los. Nesta hipótese, algumas funcionalidades
          do site poderão ser limitadas. 
        </p>

        <p class="font_size_letter">
          <b>Do Registro de Atividades</b>: A <b>FFMCYTECH</b> poderá registrar as atividades efetuadas pelo
          Usuário no site, por meio de logs, incluindo: 1. Endereço IP do Usuário; 2. Ações efetuadas
          pelo Usuário no site; 3. Páginas acessadas pelo Usuário; 4. Datas e horários de cada ação e de
          acesso a cada funcionalidade do site; 5. Session ID do Usuário, quando aplicável.
          Os registros mencionados poderão ser utilizados pela <b>FFMCYTECH</b> em casos de investigação de
          fraudes ou de alterações indevidas em seus sistemas e cadastros. 
        </p>

        <p class="font_size_letter">
          <b>Publicidade de Terceiros:</b> Em adição também utilizamos publicidade de terceiros no
          nosso website para suportar os custos de manutenção. Alguns destes publicitários,
          poderão utilizar tecnologias como os cookies e/ou web beacons quando publicitam no nosso website,
          o que fará com que esses publicitários (como o Google através do Google AdSense) também
          recebam a sua informação pessoal, como o endereço IP, o seu ISP, o seu browser,
          etc. Esta função é geralmente utilizada para geotargeting (mostrar publicidade de
          Lisboa apenas aos leitores oriundos de Lisboa por ex.) ou apresentar publicidade direcionada a
          um tipo de utilizador (como mostrar publicidade de restaurante a um utilizador que
          visita sites de culinária regularmente, por ex.).
        </p>

        <p class="mt-3 color font_size">
          <u>COMO UTILIZAMOS OS DADOS E INFORMAÇÕES QUE COLETAMOS:-</u>
        </p>

        <p class="font_size_letter">
          Podemos usar, armazenar e processar informações e dados pessoais que
          coletamos das seguintes formas:
        </p>

        <p class="font_size_letter">
          1. Efetuar qualquer comunicação resultante de atividade do próprio site ou a
          identificação do respectivo destinatário;
        </p>

        <p class="font_size_letter">
          2. Responder a eventuais dúvidas e solicitações do Usuário;
        </p>

        <p class="font_size_letter">
          3. Fornecer acesso à área restrita do site ou suas funcionalidades exclusivas;
        </p>

        <p class="font_size_letter">
          4. Cumprimento de ordem legal ou judicial;
        </p>

        <p class="font_size_letter">
          5. Constituir, defender ou exercer regularmente direitos em âmbito judicial ou administrativo;
        </p>

        <p class="font_size_letter">
          6. Elaborar estatísticas gerais, para identificação do perfil dos Usuários e desenvolvimento de campanhas;
        </p>

        <p class="font_size_letter">
          7. Garantir a segurança dos Usuários;
        </p>

        <p class="font_size_letter">
          8. Manter atualizados os cadastros dos Usuários para fins de contato autorizado a ser
          feito por telefone, correio eletrônico, SMS, e-mails, mala-direta ou
          por outros meios de comunicação;
        </p>

        <p class="font_size_letter">
          Sobre os e-mails: eventualmente poderão ser enviados e-mails com informações que a
          <b>FFMCYTECH</b> julga como relevantes, bem como para manter o usuário bem informado sobre
          eventos, ações e campanhas <b>FFMCYTECH</b>.
        </p>

        <p class="color font_size">
          <u>ARMAZENAMENTO DE DADOS E INFORMAÇÕES:-</u>
        </p>

        <p class="mt-3">
          Todos os dados e informações coletados dos Usuários serão incorporados ao
          banco de dados do site. Os dados e informações coletados estarão armazenados em ambiente seguro,
          observado o estado da técnica disponível, e somente poderão ser acessados por pessoas
          qualificadas e autorizadas pela <b>FFMCYTECH</b>. Além disso, a <b>FFMCYTECH</b> afirma que não compartilhará,
          venderá ou apresentará os dados dos Usuários para terceiros, que não sejam seus parceiros.
          Considerando que nenhum sistema de segurança é absolutamente seguro, a <b>FFMCYTECH</b>
          se exime de quaisquer responsabilidades por eventuais danos e/ou prejuízos decorrentes de falhas,
          vírus ou invasões do banco de dados do site, salvo nos casos de dolo ou culpa pela mesma.
          O Usuário é o proprietário dos dados e está apto a adicionar, excluir ou modificar quaisquer
          informações que estiverem ligadas ao seu perfil de usuário na <b>FFMCYTECH</b>,
          e por isso o Usuário declara estar ciente e concorda com a coleta, armazenamento, tratamento,
          processamento e uso das Informações enviadas e/ou transmitidas pelo Usuário nos termos
          estabelecidos nestes Termos de Uso e Política de Privacidade.
        </p>

        <p class="mt-3 color font_size">
          <u>DIREITOS AUTORAIS:-</u>
        </p>

        <p class="font_size_letter">
          Todo o conteúdo, marcas ou quaisquer direitos de propriedade intelectual
          mencionados neste site pertencem à <b>FFMCYTECH.</b>
        </p>

        <p class="font_size_letter">
          A reprodução para uso pessoal do Usuário é permitida, porém, são proibidos modificação, cópia,
          empréstimos, transmissão e radiodifusão não autorizados. O material encontrado pelo
          Usuário no site não pode ser comercializado ou distribuído com fins lucrativos.
        </p>

        <p class="color_red font_size">
          <u>ATENÇÃO!!</u>
        </p>

        <p class="font_size_letter">
          A FFMCYTECH ou qualquer parte envolvida na criação, produção ou distribuição deste site não serão
          responsáveis por quaisquer danos, custos, perdas ou obrigações diretas, incidentais,
          consequentes, indiretas ou punitivas resultantes de seu acesso ou uso deste site.
        </p>

        <p class="font_size_letter">
          A FFMCYTECH não será responsável por qualquer dano ou vírus que possa infectar seu computador ou
          outros equipamentos pelo uso, acesso ou transferência de qualquer material deste site.
        </p>

        <p class="font_size_letter">
          As disposições constantes desta <b>Política de Privacidade</b> poderão ser atualizadas ou
          modificadas a qualquer momento, cabendo ao Usuário verificá-la sempre que efetuar o acesso ao site.
          Entre em contato com a <b>FFMCYTECH</b> em caso de qualquer dúvida!!
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>
