<div class="modal-dialog modal-lg">  
  <div class="modal-content">
    <div class="letter text-justify mr-4">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-3 col-lg-3 col-md-1 col-sm-3"></div>

          <div class="col-12 col-lg-6 col-md-9 col-sm-12">
            <h1>Termos de uso</h1>
            <h3 class="mt-5 color">Termos de uso FFMCYTECH</h3>
          </div>

          <div class="col-12 col-lg-3 col-md-2 col-sm-12 mt-3">
            <%= image_tag("logo/logo.png", class: "image col-12 col-sm-12 col-md-12 col-lg-8") %>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>

      <div class="container mt-4">
        <h3 class="color font_size"><u>1. ACEITAÇÃO:</u></h3>

        <p class="font_size_letter">
          Bem-vindo a nossa plataforma. O presente documento ("Termos de Uso")
          estabelece os termos e condições aplicáveis ao uso do site. Solicitamos que
          revise os termos de uso cuidadosamente antes de utilizar o site. Ao acessar,
          navegar ou utilizar o site ("uso"), todos os usuários e visitantes ("usuários") 
          declaram aceitar os termos e condições contidos nestes termos de uso. Caso o 
          usuário não concorde com os termos e condições contidos nestes termos de 
          uso, por gentileza, não use o site. A FFMCYTECH se reserva o direito de atualizar os 
          termos de uso periodicamente, ao seu exclusivo critério. O usuário deve revisar 
          os termos de uso periodicamente para eventuais atualizações e modificações.
        </p>

        <h3 class="color font_size"><u>2. ELIGIBILIDADE:</u></h3>
        
        <p class="font_size_letter">
          A plataforma e todos os serviços a ele relacionados são disponibilizados ao 
          usuário somente se este puder celebrar contratos legalmente válidos sob a 
          legislação aplicável. A plataforma só está disponível para menores de 18 anos 
          mediante as autorizações pertinentes. Ao usar o site, o usuário declara que 
          tem capacidade jurídica plena, sendo maior de 18 anos de idade ou possui tais autorizações.
        </p>

        <h3 class="color font_size"><u>3. LICENÇA:</u></h3>
        
        <p class="font_size_letter">
          A FFMCYTECH concede ao usuário uma licença limitada, não-exclusiva, intransferível,
          revogável e não passível de cessão, autorizando-o a visualizar os materiais
          exibidos na plataforma exclusivamente para uso pessoal e não comercial pelo
          usuário ou dentro de sua organização. Todos os materiais exibidos ou
          disponibilizados na plataforma, incluindo, sem limitação, gráficos, documentos,
          produtos, logos, imagens, textos, sons, vídeo, áudio, obras de arte, software e
          código HTML (coletivamente, o "Material") são de propriedade exclusiva da
          FFMCYTECH ou de seus fornecedores de conteúdo, os quais reservam a si todos os
          seus direitos de propriedade intelectual. Os Materiais são protegidos pelas leis
          de direitos autorais e outras regras, regulamentos e legislações brasileiras de
          propriedade intelectual aplicáveis. Exceto conforme permitido no presente
          instrumento, O usuário não poderá (i) usar, copiar, modificar, exibir, apagar,
          distribuir, realizar download, arquivar, transmitir, publicar, vender, revender,
          adaptar, realizar engenharia reversa ou criar obras derivadas do Material, ou
          (ii) usar o Material em outros websites ou em quaisquer outros tipos de mídia,
          como, por exemplo, em ambientes de rede, sem o consentimento prévio e por
          escrito da FFMCYTECH.
          Todas as marcas comerciais, marcas de serviços e logotipos (as "Marcas")
          exibidas na plataforma são de propriedade exclusiva da FFMCYTECH e de seus
          respectivos titulares. O usuário não poderá usar as Marcas, de nenhuma forma,
          sem o consentimento prévio e por escrito da FFMCYTECH e de seus respectivos
          titulares.
        </p>

        <h3 class="color font_size"><u>4. SUBMISSÕES DO USUÁRIO:</u></h3>
        
        <p class="font_size_letter">
          Ao submeter ou enviar suas informações para a plataforma("Material 
          Submetido"), o usuário concorda que concede à FFMCYTECH uma licença não-
          exclusiva, revogável, gratuita, e o direito (mas não uma obrigação) de usar,
          copiar, modificar, exibir, distribuir, realizar download, armazenar, reproduzir,
          transmitir, publicar, adaptar e criar produtos derivados, de qualquer maneira e
          em qualquer tipo de mídia, do todo ou de parte do Material Submetido, sob
          qualquer forma e em qualquer parte do país.
        </p>

        <p class="font_size_letter">
          A FFMCYTECH filtra e monitora o Material Submetido fornecido pelo usuário do Site. A
          FFMCYTECH não fornece qualquer garantia quanto à confiabilidade, precisão,
          completude, validade ou veracidade de qualquer Material Submetido ou
          enviado por quaisquer usuários do website. A FFMCYTECH se reserva o direito, ao
          exclusivo critério da FFMCYTECH, de apagar, remover, recusar-se a exibir ou bloquear
          qualquer Material Submetido que a FFMCYTECH considere ser inaceitável, ao
          exclusivo critério da FFMCYTECH, sem que a FFMCYTECH tenha qualquer responsabilidade
          perante o usuário. Caso a FFMCYTECH receba uma notificação a respeito de
          quaisquer Materiais Submetidos considerados inaceitáveis, a FFMCYTECH poderá
          investigar tais materiais, ao exclusivo critério da FFMCYTECH.
        </p>

        <p class="font_size_letter">
          O usuário reconhece e concorda que a FFMCYTECH poderá reter cópias de seus
          Materiais Submetidos e divulgar seus Materiais Submetidos a qualquer terceiro
          caso a FFMCYTECH acredite ser necessário para: (i) proteger a integridade da
          plataforma; (ii) proteger direitos da FFMCYTECH; (iii) cumprir com uma ordem judicial;
          (iv) cumprir com quaisquer procedimentos legais; (v) fundamentar uma
          reclamação da FFMCYTECH sob estes Termos de Uso; e (vi) atender a quaisquer
          reclamações de violações de direitos de terceiros.
        </p>

        <h3 class="color font_size"><u>5. PROIBIÇÕES GERAIS:</u></h3>
        
        <p class="font_size_letter">
            Com relação ao seu Uso, o usuário concorda em <b>NÃO</b>:
        </p>

        <p class="font_size_letter">
          1. Violar quaisquer regras, regulamento ou legislações aplicáveis, incluindo,
          sem limitação, legislações e regulamentos que regem sobre o tratamento e a
          segurança de dados pessoais (LGPD), leis contra discriminação, entre outras.
          Além disso, o usuário concorda em não exportar os Materiais a qualquer país
          ou jurisdição sob restrição conforme as leis de exportação do Brasil.
        </p>

        <p class="font_size_letter">
          2. Violar quaisquer direitos de propriedade intelectual ou de privacidade, 
          incluindo, sem limitação, patentes, direitos autorais, marcas ou segredos 
          comerciais de quaisquer terceiros, incluindo a FFMCYTECH e suas empresas afiliadas;
        </p>

        <p class="font_size_letter">
          3. Carregar, publicar, transmitir ou armazenar qualquer material, informação e/ou comentário que:
        </p>

        <p class="font_size_letter">
          a) seja ilegal, ofensivo, difamatório, fraudulento, enganoso, danoso, 
          ameaçador, constrangedor, obsceno ou inaceitável;
        </p>

        <p class="font_size_letter">
          b) viole quaisquer de suas obrigações contratuais ou de confidencialidade;
        </p>

        <p class="font_size_letter">
          c) perturbe ou interfira nas operações normais da plaforma, tais como 
          a publicação ou a transmissão de vírus, a publicação continuada de 
          materiais repetidos ou a publicação de arquivos muito grandes, fora do 
          tamanho normal; ou
        </p>

        <p class="font_size_letter">
          d) não seja permitido pela FFMCYTECH, incluindo, sem limitação, quaisquer 
          materiais de publicidade não autorizada, materiais de propaganda não 
          solicitada, "junk mail", mensagens de spam, cartas em "corrente", 
          esquemas de pirâmide, franquias, distribuição, associação em clubes, 
          acordos de venda ou outros materiais não aceitos;
        </p>

        <p class="font_size_letter">
          e) violar direitos de privacidade ou outros direitos de terceiros através do 
          uso abusivo de Materiais, incluindo, sem limitação, através do 
          constrangimento ou "perseguição" contra outra pessoa, do envio de 
          mensagens de e-mail não solicitadas ou da coleta de informações pessoais de terceiros;
        </p>

        <p class="font_size_letter">
          f) violar ou tentar violar quaisquer medidas de segurança da plataforma;
        </p>

        <p class="font_size_letter">
          g) usar quaisquer dispositivos, processos ou mecanismos para monitorar, 
          recuperar, pesquisar ou acessar dados da plaforma ou qualquer Material 
          sem o consentimento prévio e por escrito da FFMCYTECH, através, por exemplo, 
          de robôs ou sistemas de varredura e armazenamento de dados ("spider");
        </p>

        <p class="font_size_letter">
          h) acessar ou tentar acessar qualquer conta ou identificação de terceiros contida na plataforma;
        </p>

        <p class="font_size_letter">
          i) copiar, modificar, reproduzir, apagar, distribuir, realizar download,
          armazenar, transmitir, vender, revender, publicar, realizar engenharia 
          reversa ou criar produtos derivados de quaisquer Materiais, exceto 
          materiais que tenham sido submetidos pelo usuário e sejam de sua propriedade;
        </p>

        <p class="font_size_letter">
          j) publicar ou submeter qualquer informação imprecisa, falsa ou incompleta;
        </p>
        
        <p class="font_size_letter">
          l) passar-se por outra pessoa ou organização;
        </p>

        <p class="font_size_letter">
          m) adulterar qualquer informação de cabeçalho em uma publicação ou mensagem eletrônica; ou
        </p>

        <p class="font_size_letter">
          n) fornecer falsa informação sobre o usuário, sua afiliação junto a um terceiro ou sua organização.
        </p>

        <h3 class="color font_size"><u>6. USOS ESPECÍFICOS E RESPONSABILIDADES:</u></h3>

        <p class="font_size_letter">
          Além das responsabilidades gerais previstas na Cláusula 5, o usuário concorda em cumprir com os seguintes termos.
        </p>

        <p class="font_size_letter">
          1. Usar a plataforma somente para finalidades legítimas a fim de navegar, 
          pesquisar e/ou comprar os materiais fornecidos pela plataforma;
        </p>

        <p class="font_size_letter">
          2. Fornecer e manter as informações submetidas pelo usuário completas, corretas, atualizadas e precisas;
        </p>

        <p class="font_size_letter">
          3. Publicar apenas e exclusivamente materiais sobre os quais o usuário tenha todos os direitos e licenças necessários;
        </p>

        <p class="font_size_letter">
          4. Utilizar seu próprio discernimento, precaução e senso comum para a utilização da plataforma; e
        </p>

        <p class="font_size_letter">
          5. Assumir os riscos de qualquer utilização de (ou confiança em) quaisquer Materiais ou informações fornecidas por um terceiro.
        </p>

        <h3 class="color font_size"><u>7. CONTA E SENHA:</u></h3>

        <p class="font_size_letter">
          A plataforma poderá apresentar ao usuário a oportunidade de abrir uma conta 
          de usuário junto a plataforma. Ao abrir uma conta junto a plataforma, o usuário 
          poderá receber uma identificação de conta (logon) e uma senha inicial. É de 
          sua responsabilidade (a) manter o sigilo de sua identificação de conta e senha;
          (b) atualizar e revisar sua conta frequentemente; e (c) avisar prontamente a 
          FFMCYTECH caso ocorra qualquer utilização não autorizada de sua conta ou qualquer 
          quebra de segurança. O usuário é responsável também por todas as atividades 
          que forem realizadas através de sua conta e a FFMCYTECH não será responsável por 
          qualquer perda ou dano resultante de sua falha em cumprir com as obrigações 
          previstas neste parágrafo.
        </p>

        <h3 class="color font_size"><u>8. LINKS:</u></h3>

        <p class="font_size_letter">
          A plataforma poderá apresentar links, tais como hyperlinks ou botões, 
          direcionando o acesso a websites de terceiros ("Sites Ligados"). Os Sites 
          Ligados poderão não ser controlados ou monitorados pela FFMCYTECH. A FFMCYTECH não 
          será responsável pelos materiais, informações ou conteúdo publicados em 
          Sites Ligados, nem tampouco pela disponibilidade dos Sites Ligados. A inclusão 
          de Sites Ligados na plataforma não implica em nenhum relacionamento ou 
          associação entre a FFMCYTECH e o proprietário de Sites Ligados, nem tampouco 
          quaisquer endosso ou apoio ou patrocínio pela FFMCYTECH dos Sites Ligados. A FFMCYTECH 
          inclui os Sites Ligados apenas para sua conveniência. O usuário é 
          exclusivamente responsável por seu acesso aos Sites Ligados. O usuário 
          utilizará seu próprio discernimento, precaução e senso comum na utilização de 
          Sites Ligados, devendo conferir as políticas de privacidade e os termos de uso 
          aplicáveis de tais Sites Ligados, os quais poderão ser diferentes dos termos 
          contidos nestes Termos de Uso e na Política de Privacidade da FFMCYTECH. A FFMCYTECH 
          não aceita qualquer responsabilidade por tais políticas de terceiros.
        </p>

        <h3 class="color font_size"><u>9. PRIVACIDADE:</u></h3>
        
        <p class="font_size_letter">
          AO ACEITAR ESTES TERMOS DE USO, O USUÁRIO AUTOMATICAMENTE ACEITA 
          TODOS OS TERMOS DA POLÍTICA DE PRIVACIDADE DA FFMCYTECH ESTABELECIDOS 
          ABAIXO E, NESTE ATO, AUTORIZA A FFMCYTECH A COLETAR, ARMAZENAR, UTILIZAR E 
          DIVULGAR, OU TRATAR DE QUALQUER OUTRA FORMA SEUS DADOS PESSOAIS 
          CONFORME PREVISTO EM TAL DOCUMENTO.
        </p>

        <h3 class="color font_size"><u>10. INDENIZAÇÃO:</u></h3>

        <p class="font_size_letter">
          O usuário concorda em indenizar, defender e isentar a FFMCYTECH e suas empresas 
          controladoras, subsidiárias e afiliadas, bem como seus diretores, 
          representantes e empregados, contra quaisquer reclamações ou ações de 
          quaisquer terceiros, incluindo, sem limitação, honorários advocatícios e custas 
          judiciais, resultantes ou originadas do seu Uso do Site, de seus Materiais 
          Submetidos ou de sua violação dos termos e condições contidos nestes Termos de Uso.
        </p>

        <h3 class="color font_size"><u>11. ISENÇÃO:</u></h3>

        <p class="font_size_letter">
          O usuário reconhece e concorda que: (a) o usuário assume todos os riscos 
          relacionados ou resultantes do seu uso, visualização ou acesso a plataforma. 
          Na máxima extensão permitida pela legislação aplicável, este site é oferecido 
          no estado em que se encontra e tão somente conforme disponibilizado; (b) na 
          máxima extensão permitida pela legislação aplicável, a FFMCYTECH se isenta 
          expressamente de todas e quaisquer garantias, de qualquer natureza, sejam 
          elas expressas ou implícitas, incluindo, sem limitação, garantias implícitas de 
          comercialização, adequação a uma finalidade específica e não violação ou 
          garantias originadas do uso e finalidade da plataforma, relacionamento 
          comercial ou costumes; (c) na máxima extensão permitida pela legislação 
          aplicável, a FFMCYTECH se isenta expressamente de quaisquer garantias no sentido 
          de que (i) a plataforma e os materiais serão livres de erros ou vírus; (ii) o site 
          operará ininterruptamente e de forma segura; (iii) a plataforma operará 
          ininterruptamente e estará disponível em todo momento; (iv) a plataforma 
          atenderá a suas necessidades; e (v) quaisquer materiais submetidos serão 
          confiáveis, precisos, completos, válidos e verdadeiros.
        </p>

        <h3 class="color font_size"><u>12. RESPONSABILIDADE E LIMITAÇÕES DE RESPONSABILIDADE:</u></h3>

        <p class="font_size_letter">
          O usuário tem ciência e concorda que a FFMCYTECH não monitora e executa o 
          controle do conteúdo eventualmente postado pelos demais usuários, de modo 
          na eventualidade de identificar qualquer conteúdo impróprio, notificará a FFMCYTECH 
          para adoção das medidas que julgar pertinentes.
        </p>

        <p class="font_size_letter">
          Na máxima extensão permitida pela legislação aplicável, o usuário concorda 
          em assumir todos os riscos associados ou relacionados ao seu uso da 
          plataforma ou de quaisquer materiais submetidos, incluindo, sem limitação, 
          riscos de perdas financeiras, danos físicos, danos materiais, relacionamento 
          com outros usuários da plataforma, estranhos, menores ou estrangeiros, e 
          pessoas agindo sob falsa identidade. O usuário concorda ainda em isentar a 
          FFMCYTECH e suas empresas controladoras, subsidiárias e afiliadas, bem como seus 
          diretores, representantes e empregados, contra quaisquer reclamações, ações, 
          danos (diretos, indiretos e consequenciais) de qualquer tipo ou natureza, 
          conhecidos ou não, associados, originados ou resultantes de seu uso da 
          plataforma, de seus materiais submetidos ou de quaisquer transações 
          relacionadas ou resultantes de seu uso da plataforma .
        </p>

        <p class="font_size_letter">
          O usuário entende e concorda ainda que, na máxima extensão permitida pela
          legislação aplicável, em hipótese alguma a FFMCYTECH, suas controladoras, 
          subsidiárias, afiliadas, diretores, representantes, empregados ou fornecedores 
          serão responsáveis por quaisquer danos diretos, indiretos, consequenciais,
          incidentais, especiais de receita, dados ou utilização, sofridos por o usuário ou 
          por qualquer terceiro, seja em razão de violação contratual, ato ilícito ou 
          violação de garantia, ainda que a FFMCYTECH tenha sido advertida da possibilidade 
          de tais danos. Caso alguma jurisdição proíba a exclusão de determinadas 
          garantias, a limitação de responsabilidade ou a renúncia de determinados tipos 
          de danos, a responsabilidade agregada da FFMCYTECH por quaisquer danos, na 
          máxima extensão permitida pela legislação aplicável, será na menor extensão 
          possível. 
        </p>

        <h3 class="color font_size"><u>13. RESCISÃO:</u></h3>

        <p class="font_size_letter">
          A FFMCYTECH poderá encerrar, ao exclusivo critério da FFMCYTECH, quaisquer serviços 
          oferecidos pela plataforma e remover quaisquer Materiais nele publicados. A 
          FFMCYTECH poderá também rescindir o seu acesso a qualquer parte ou a todos os 
          serviços oferecidos pela FFMCYTECH a qualquer momento, com ou sem justa causa 
          ou notificação prévia, e por qualquer razão ou motivo. Caso o usuário deseje 
          terminar sua conta, o usuário poderá cessar seu uso da plataforma, desde que 
          observância com outros dispositivos contratuais. O usuário deverá sempre 
          manter uma cópia de seus Materiais Submetidos. 
        </p>

        <h3 class="color font_size"><u>14. DISPOSIÇÕES GERAIS:</u></h3>

        <p class="font_size_letter">
          O usuário concorda que não se constitui qualquer relação jurídica, parceria, 
          representação, agência ou joint venture entre o usuário e a FFMCYTECH com 
          resultado do seu uso da plataforma. Estes Termos de Uso constituem o acordo 
          integral entre o usuário e a FFMCYTECH com relação ao seu uso da plataforma, sendo 
          adicional a qualquer outro contrato celebrado entre o usuário e a FFMCYTECH. Estes 
          Termos de Uso são regidos pelas leis da República Federativa do Brasil. A falha 
          ou o atraso por qualquer parte na execução de qualquer termo contido nestes 
          Termos de Uso não serão considerados como uma renúncia a qualquer destes 
          termos. As Cláusulas 4, 5, 6, 8, 9, 10, 11, 12, 13 e 14 sobreviverão ao término 
          destes Termos de Uso por qualquer motivo ou razão. 
        </p>

        <p class="font_size_letter">
          Caso o usuário precise de informações adicionais a respeito da plataforma o ou 
          destes Termos de Uso, por favor, entre em contato conosco através do seguinte 
          endereço: FFMCYTECH
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
    </div>
  </div>  
</div>